* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: min(calc(1vw + 1vh), 12px);
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
  	background-color: #0E1F2E;
    overflow: auto;       /* allow scrolling */
    scrollbar-width: none; /* Firefox */
}

.search-container {
    padding-top: 80px;
    text-align: center;
}

#game-search {
    padding: 8px 12px;
    font-size: 16px;
    width: min(96vw, 400px);
    border-radius: 5px;
    border: 1px solid #ccc;
}

.games-container {
    padding-top: 20px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: min(96vw, 400px);
    margin: 0 auto;
}

.game-card-upcoming {
    background: #172A3A;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    color: white;
    border: 1px solid #21394B;
}

.round {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team {
    width: 40%;
}

.team-line {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-logo {
    width: 50px;
    height: 50px;
}

.team-name {
    font-size: 1rem;
}

.team-seed {
    opacity: 0.7;
}

.vs {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 10px;
}

.picker-list {
    margin-top: 6px;
    font-size: 0.9rem;
    text-align: center;
}

.none-picked {
    opacity: 0.5;
}

.game-time {
    margin-top: 12px;
    text-align: center;
    font-size: 0.9rem;
    opacity: 0.7;
}