* {
  	box-sizing: border-box;
  	font-family: "Oswald", sans-serif;
  	font-size: min(calc(1vw + 1vh), 16px);
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

.navtop {
    position: fixed; 
	z-index: 1000;
    display: flex;
    align-items: center;
  	background-color: #FA691D;
    justify-content: space-between; /* pushes right-side icons to the far right */
  	height: 60px;
    padding: 0 20px;
  	width: 100%;
}

.nav-logo {
    height: 60px; /* adjust to whatever size you want */
    width: auto;  /* keeps proportions */
}

.nav-right a {
  	display: inline-flex;
  	align-items: center;
  	padding: 0 10px;
  	text-decoration: none;
  	color: #FFFFFF;
  	font-weight: bold;
}

.nav-right a:hover {
  	color: #1899DE;
}

