* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  	font-size: min(calc(1vw + 1vh), 16px);
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

body {
  	background-color: #0E1F2E;
    text-align: center;
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
}

.login, .register {
  	width: min(500px, 80%);
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
	border: 3px solid #FA691D;
  	margin: auto;
    margin-top: 20px;
    border-radius: 16px;
}

.login .links, .register .links {
  	display: flex;
  	padding: 0 15px;
    justify-content: center;
}

.login .links a, .register .links a {
  	color: #adb2ba;
  	text-decoration: none;
  	display: inline-flex;
  	padding: 0 10px 10px 10px;
  	font-weight: bold;
}

.login .links a:hover, .register .links a:hover {
  	color: #9da3ac;
}

.login .links a.active, .register .links a.active {
  	border-bottom: 3px solid #FA691D;
  	color: #FA691D;
}

.login form, .register form {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}

.login form label, .register form label {
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 12%;
  	height: 50px;
  	background-color: #FA691D;
  	color: #ffffff;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.login form input[type="password"], .login form input[type="text"], .register form input[type="password"], .register form input[type="text"] {
  	width: 80%;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.login form input[type="submit"], .register form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
  	margin-top: 20px;
  	background-color: #FA691D;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
  	background-color: #c1c4c8;
  	transition: background-color 0.2s;
}

.nav-logo {
    height: 60px; /* adjust to whatever size you want */
    width: auto;  /* keeps proportions */
}

.logo-container {
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering if div has height */
}

.login-logo {
    display: block;
    margin: 0 auto; /* centers block-level element horizontally */
    height: 400px; /* adjust to whatever size you want */
    width: auto;  /* keeps proportions */
}