{% set user_pick = user_picks.get(game.game_id) %}

<div class="team-row left-row" data-team-id="{{ game.team_1_id }}">
    {% if game.team_1_id %}
        <img src="{{ get_team_logo(game.team_1_name) }}" class="team-logo">
        <div class="team-seed">{{ game.team_1_seed }}</div>
        <div class="team-name {% if not game.team_1_correct %}lost{% endif %}">{{ game.team_1_name }}</div>
    {% else %}
        <div class="team-logo"></div>
        <div class="team-seed"></div>
        <div class="team-name"></div>
    {% endif %}
    
    {% if game.team_1_id and user_pick and user_pick[0]|int == game.team_1_id|int %}
        <div class="circle active"></div>
    {% else %}
        <div class="circle"></div>
    {% endif %}
</div>

<div class="divider"></div>

<div class="team-row left-row" data-team-id="{{ game.team_2_id }}">
    {% if game.team_2_id %}
        <img src="{{ get_team_logo(game.team_2_name) }}" class="team-logo">
        <div class="team-seed">{{ game.team_2_seed }}</div>
        <div class="team-name {% if not game.team_2_correct %}lost{% endif %}">{{ game.team_2_name }}</div>
    {% else %}
        <div class="team-logo"></div>
        <div class="team-seed"></div>
        <div class="team-name"></div>
    {% endif %}

    {% if game.team_2_id and user_pick and user_pick[0]|int == game.team_2_id|int %}
        <div class="circle active"></div>
    {% else %}
        <div class="circle"></div>
    {% endif %}
</div>