<!DOCTYPE html>
{% extends 'layout.html' %}

{% block content %}

{% import "macros.html" as util %}

<html lang="eng">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bracket_test.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    </head>
    <body>        
        <div class="bracket">
            
            <div class="area final-four">
                <div class="final-four-round" id="final-four-left">
                    {% for round_number, games in final_four_left.items() %}
                                {% for game in games %}
                                    <div class="game-card" style="grid-row: 33;" data-game-id="{{ game.game_id }}">
                                        {% include 'partials/game_card_left.html' %}
                                    </div>
                                {% endfor %}
                    {% endfor %}
                </div>

                <div class="final-four-round" id="championship-game">
                    {% for round_number, games in championship.items() %}
                            {% for game in games %}
                                <div class="championship-card" style="grid-row: 32;" data-game-id="{{ game.game_id }}">
                                    {% include 'partials/game_card_left.html' %}
                                </div>
                            {% endfor %}
                    {% endfor %}

                    <div class="winner-card" id="winner" style="grid-row: 39;">
                        {% include 'partials/winner_card.html' %}
                    </div>

                    <div class="score-card" style="grid-row: 44;">
                        {% include 'partials/score_card.html' %}
                    </div>
                    <div style="grid-row: 60;">
                        <button id="submitPicksBtn" class="submit-picks-button">Save Picks</button>
                        <div id="save-message" class="hidden save_message"></div>
                    </div>
                    <div style="grid-row: 66;">
                        <form action="{{ url_for('bracket.reset_picks') }}" method="POST">
                            <button type="submit", class="submit-picks-button">Clear All</button>
                        </form>
                    </div>
                </div>

                <div class="final-four-round" id="final-four-right">
                    {% for round_number, games in final_four_right.items() %}
                        {% for game in games %}
                            <div class="game-card" style="grid-row: 33;" data-game-id="{{ game.game_id }}">
                                {% include 'partials/game_card_right.html' %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

            <div class="area region-left-0">
                {% for round_number, games in south.items() %}
                    <div class="round" id="south-round-{{ round_number }}">
                        {% for game in games %}
                            <div class="game-card" style="grid-row: {{ util.grid_row(round_number, loop.index) }};" data-game-id="{{ game.game_id }}">
                                {% include 'partials/game_card_left.html' %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            
            <div class="area region-left-1">
                {% for round_number, games in west.items() %}
                    <div class="round" id="west-round-{{ round_number }}">
                        {% for game in games %}
                            <div class="game-card" style="grid-row: {{ util.grid_row(round_number, loop.index) }};" data-game-id="{{ game.game_id }}">
                                {% include 'partials/game_card_left.html' %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <div class="area region-right-0">
                {% for round_number, games in east.items()|reverse %}
                    <div class="round" id="east-round-{{ round_number }}">
                        {% for game in games %}
                            <div class="game-card" style="grid-row: {{ util.grid_row(round_number, loop.index) }};" data-game-id="{{ game.game_id }}">
                                {% include 'partials/game_card_right.html' %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <div class="area region-right-1">
                {% for round_number, games in midwest.items()|reverse %}
                    <div class="round" id="midwest-round-{{ round_number }}">
                        {% for game in games %}
                            <div class="game-card" style="grid-row: {{ util.grid_row(round_number, loop.index) }};" data-game-id="{{ game.game_id }}">
                                {% include 'partials/game_card_right.html' %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

        </div>
        <script src="{{ url_for('static', filename='js/bracket.js') }}"></script>
    </body>
</html>
{% endblock %}