<!DOCTYPE html>
{% extends 'layout.html' %}

{% block content %}

<html lang="eng">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/games.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    </head>
    <body>     

        <div class="search-container">
            <input type="text" id="game-search" placeholder="Search by team..." />
        </div>

        <div class="games-container">

            {% for game in games %}
            <div class="game-card-upcoming">

                <div class="round">Round {{ game.round }}</div>
                <div class="teams">
                    <div class="team">
                        <div class="team-line">
                            <img src="{{ get_team_logo(game.team_1_name) }}" class="team-logo">
                            <span class="team-seed">{{ game.team_1_seed }}</span>
                            <span class="team-name">{{ game.team_1_name }}</span>
                        </div>
                        <div class="picker-list">
                            {% if game.team_1_pickers %}
                                <strong>Picked by:</strong> {{ game.team_1_pickers | join(", ") }}
                            {% else %}
                                <span class="none-picked">No one picked</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="vs">VS</div>

                    <div class="team">
                        <div class="team-line">
                            <img src="{{ get_team_logo(game.team_2_name) }}" class="team-logo">
                            <span class="team-seed">{{ game.team_2_seed }}</span>
                            <span class="team-name">{{ game.team_2_name }}</span>
                        </div>
                        <div class="picker-list">
                            {% if game.team_2_pickers %}
                                <strong>Picked by:</strong> {{ game.team_2_pickers | join(", ") }}
                            {% else %}
                                <span class="none-picked">No one picked</span>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="game-time">
                    {{ game.game_time.strftime("%A, %H:%M") }}
                </div>
            </div>
            {% endfor %}

        </div>
        <script src="{{ url_for('static', filename='js/games.js') }}"></script>
    </body>
</html>
{% endblock %}