<!DOCTYPE html>
<html lang="eng">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>March Madness 2026</title>
    </head>
    <body>
        <nav class="navtop">
            <img src="{{ url_for('static', filename='images/backgrounds/mm_logo.avif') }}" alt="March Madness Logo" class="nav-logo">
            <div class="nav-right">
                <a href="{{ url_for('scoreboard.scoreboard') }}"><i class="fa fa-chart-line"></i></a>
                <a href="{{ url_for('games.games') }}"><i class="fas fa-calendar"></i></a>
                <a href="{{ url_for('bracket.bracket') }}"><i class="fas fa-basketball"></i></a>
                <a href="{{ url_for('rules.rules') }}" ><i class="fas fa-scale-balanced"></i></a>
                {% if session.user_id == 1 %}
                    <a href="{{ url_for('admin.admin') }}" class="fas fa-hand"></a>
                {% endif %}
                <a href="{{ url_for('auth.logout') }}" ><i class="fas fa-sign-out-alt"></i></a>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>